<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%=email.object%></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%=email.created_at%></h6>
    <p class="card-text"><%=email.body%></p>
  </div>
</div>