<h1>Boite de reception</h1>
<div class="col"><%=link_to "Creer Mail",new_email_path,remote: true%>
            </div>
<div class="container ">
  <div class="row">
        <%# Div qui va lister les mails %>
        <div class="col bg-light text-dark" id="mails">
            <%@emails.each{ |email|%>
                <div class="mt-4">
                <%=link_to email.object,email_path(id:email.id) ,remote: true%>
                </div>
            <%}%>
        </div>
        <%# Div qui va contenir le body d mail %>
        <div class="col" id="body-mail">
        </div>

        <div class="w-100"></div>
  </div>
</div>